@charset "utf-8";
/* CSS Document */

body { background:#ffffff; }

pre, code, td, tbody th, .wp-caption, .main-menu-wrapper, #main-menu ul li.menu-item-simple-parent ul li a:hover, .megamenu-child-container ul.sub-menu > li > ul li a:hover, .author-info, .dt-team-member .dt-sc-team:hover, .blank-template-wrapper, #tribe-bar-form, #tribe-bar-collapse-toggle, .single-tribe_events .tribe-events-schedule, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, .datepicker table tr td span:hover, .tribe-events-calendar th, .tribe-events-list-separator-month span, .tribe-events-day .tribe-events-day-time-slot h5, .tribe-mini-calendar, .vevent.tribe-events-photo-event .tribe-events-photo-event-wrap, .secondary-sidebar .tribe-mini-calendar-event .list-date, #footer .tribe-mini-calendar-event .list-date, #primary .tribe-mini-calendar-event .list-date, .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a, #tribe-geo-map-wrapper, .single-tribe_events .tribe-events-venue-map, #footer .tribe-mini-calendar td.tribe-events-has-events, .secondary-sidebar .tribe-mini-calendar td.tribe-events-has-events, #primary .tribe-mini-calendar td.tribe-events-has-events, .dt-sc-course-searchform, .dt-sc-course-searchform header, .dt-sc-course-single .dt-sc-course-details-inner, .dt-lesson-wrapper .dt-lesson-title, .dt-sc-course-single .entry-metadata .dt-sc-button.filled:hover:after, #footer .footer-widgets-wrapper, .members-list, .addresses .col-1, .addresses .col-2 { background-color:#f6f6f6; }

ul.side-nav li a:before, ul.side-nav > li > a:hover, ul.side-nav > li > ul > li > a:hover, ul.side-nav > li > ul > li > ul > li > a:hover, ul.side-nav > li.current_page_item > a, ul.side-nav > li > ul > li.current_page_item > a, ul.side-nav > li > ul > li > ul > li.current_page_item > a { background-color:#ededed; }

@media only screen and (max-width: 767px) {
	#main-menu ul.menu > li > .megamenu-child-container, #main-menu ul li.menu-item-simple-parent ul { background-color:#f6f6f6 !important; }
}

tbody tr:nth-child(2n+1) td, tbody tr:nth-child(2n+1) th, .boxed .inner-wrapper, #main-menu ul li.menu-item-simple-parent ul, .megamenu-child-container, .footer-logo, #footer .wp-caption { background-color:#ffffff; }
#footer .copyright, #footer .copyright .copyright-info a, #footer .footer-links a, #footer ul.social-icons li a { color:#ffffff; }
.is-sticky #header:before { background-color:rgba(255, 255, 255, 0.8); }
.secondary-sidebar .widget, .dt-lesson-inner-wrapper { border:5px solid #f8f8f8; box-shadow:0 0 0 1px #ededed; }

.page-with-slider #main:before { 
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */ 
}

#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a { border-bottom-color:#ffffff; }
#buddypress div.item-list-tabs ul li.selected a span, #buddypress div.item-list-tabs ul li.current a span, #buddypress div.item-list-tabs ul li a:hover span { background-color:#ffffff; }

.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row { border-top-color:#ffffff; }
.woocommerce #payment, .woocommerce-page #payment { background-color:#f6f6f6; }
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after { border-bottom-color:#ffffff; }
ul.products li .product-container, .woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box { background-color:#ffffff; }

.dt-sc-ico-content.type2:hover .icon span, .dt-sc-ico-content.type2:hover .icon span, .dt-sc-ico-content.type3:hover .icon, .dt-sc-ico-content.type5 .icon:after, .dt-sc-ico-content.type6 .icon, .dt-sc-ico-content.type7:hover .icon, .dt-sc-ico-content.type13:hover .icon, .dt-sc-team:hover h6:before, .dt-sc-team .social-icons li a, .dt-sc-pr-tb-col, .dt-sc-tb-content li, .dt-sc-pr-tb-col.type2.selected .dt-sc-tb-header .dt-sc-price, .dt-sc-infographic-bar .dt-sc-bar-percentage span, .dt-sc-colored-box .dt-sc-button:hover, .dt-sc-callout-box.type2 .icon, .dt-sc-callout-box.type3 .icon, .dt-sc-callout-box.type4 .icon, .dt-sc-testimonial blockquote, .fullwidth-section .dt-sc-course .dt-sc-course-details, .dt-sc-course.custom-course-type .dt-sc-course-details-inner, .dt-sc-timeline-section .dt-sc-timeline.left .dt-sc-timeline-content h2:after, .dt-sc-timeline-section .dt-sc-timeline.right .dt-sc-timeline-content h2:after, #ui-datepicker-div, .ui_tpicker_hour_slider:after, .ui_tpicker_minute_slider:after, .ui_tpicker_hour_slider select, .ui_tpicker_minute_slider select { background-color:#ffffff; }
.dt-sc-event-container .dt-sc-event-thumb .event-price { color:#ffffff; }
.dt-sc-team .dt-sc-social-icons li:hover:after { background:#ffffff !important; }
.dt-sc-pullquote2 { border:1px solid #ffffff; }
ul.dt-sc-tabs-frame li a.current { border-bottom-color:#ffffff; }
ul.dt-sc-tabs-vertical-frame li a.current { border-right-color:#ffffff; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .meter.orange>span { background-color:#dfdfdf; }

.dt-sc-ico-content.type5, .dt-sc-ico-content.type6, .dt-sc-ico-content.type8 .icon, .dt-sc-ico-content.type9 .icon, .dt-sc-ico-content.type9 .icon:after, .dt-sc-ico-content.type12 .icon, .dt-sc-ico-content.type14 .icon, .dt-sc-team, blockquote.type2, blockquote.type4, .dt-sc-pullquote1, .dt-sc-pullquote2, .dt-sc-pullquote3, .dt-sc-pullquote6, .dt-sc-tb-header .dt-sc-price, .dt-sc-boxed-tooltip, .dt-sc-titled-box-content, .dt-sc-progress, .dt-sc-callout-box.type2, .dt-sc-callout-box.type5, .dt-sc-callout-box.type3, .ui-datepicker-calendar td a:hover, .dt-sc-lesson-single .lesson-metadata { background-color:#f6f6f6; }
.dt-sc-timeline-section h4 { border-bottom-color:#ededed; }


pre, code, blockquote q, table, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], select, .wp-caption, .widget ul.tweet_list li .tweet-thumb, #main-menu ul li.menu-item-simple-parent ul li a:hover, .megamenu-child-container ul.sub-menu > li > ul li a:hover, .portfolio-details-inner, #contact-form p, .mailchimp-form p, ul.side-nav, ul.side-nav li, ul.side-nav li ul, #tribe-bar-form input[type="text"], .single-tribe_events .tribe-events-schedule, #tribe-events-content table.tribe-events-calendar, #tribe-events-content .tribe-events-calendar td, .tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip, .recurring-info-tooltip, .tribe-events-list-separator-month:after, .secondary-sidebar .tribe-mini-calendar th, #footer .tribe-mini-calendar th, #primary .tribe-mini-calendar th, .secondary-sidebar .tribe-mini-calendar td, #footer .tribe-mini-calendar td, #primary .tribe-mini-calendar td, .single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer, .tribe-events-grid .tribe-grid-content-wrap .column, .tribe-grid-allday, #tribe-geo-map-wrapper, .single-tribe_events .tribe-events-venue-map, #dt-style-picker, #dt-style-picker ul li a.selected, #dt-style-picker ul li a:hover, #dt-style-picker ul li a img, .style-picker-ico img, .dt-sc-team .social-icons, .dt-sc-pr-tb-col, .dt-sc-callout-box.type1, .dt-sc-testimonial blockquote, .dt-sc-course .dt-sc-course-details, .dt-sc-course .dt-sc-course-details .dt-sc-course-meta, .dt-sc-course.custom-course-type .dt-sc-course-details-inner, .dt-sc-contact-info, #buddypress div.activity-meta a, #buddypress div.item-list-tabs ul li a, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, ul.products li .product-container, .woocommerce-tabs ul.tabs li a, .woocommerce-tabs .panel, .pp_inline #respond textarea, .widget.woocommerce ul.product_list_widget li a img, #my-courses.ui-tabs .ui-tabs-nav li a { border-color:#dfdfdf; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="range"]:focus, input[type="date"]:focus, textarea:focus, input.text:focus, input[type="search"]:focus { border-color:#cccccc; }

.gallery-item img { border-color:#dfdfdf !important; }

table, .selection-box:before, .blank-template-wrapper, .dt-sc-pullquote3, .dt-sc-pullquote4, .woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total, #main .course .course-lessons>header, #main .course-container .course-lessons>header, #main .course .module-lessons>header, #main .course-container .module-lessons>header, nav#post-entries, #my-courses .ui-tabs-panel, .megamenu-child-container, #main-menu ul li.menu-item-simple-parent ul { border-top-color:#dfdfdf; }

th, td, tbody th, .is-sticky #header.header3, .is-sticky #header.header4, .is-sticky .main-menu-wrapper, .blank-template-wrapper, .single-tribe_events #tribe-events-content .tribe-events-event-meta dd, .secondary-sidebar .tribe-mini-calendar-event, #footer .tribe-mini-calendar-event, #primary .tribe-mini-calendar-event, .secondary-sidebar .tribe-venue-widget-list li, #footer .tribe-venue-widget-list li, #primary .tribe-venue-widget-list li, .secondary-sidebar .widget.tribe-events-adv-list-widget ol li, #footer .widget.tribe-events-adv-list-widget ol li, #primary .widget.tribe-events-adv-list-widget ol li, #dt-style-picker h2, .dt-sc-pullquote3, .dt-sc-pullquote4, .dt-sc-tb-content li, #buddypress ul.item-list li, #buddypress div.item-list-tabs ul, #buddypress table#message-threads tr.unread td, .woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods, .widget.woocommerce ul.product_list_widget li, .course-container .archive-header h1, #my-courses ul.ui-tabs-nav, .widget_categories ul li, .widget.widget_archive ul li, .widget.widget_popular_entries .recent-course-widget ul li, .widget.widget_text .textwidget ul li, ul.teachers-details li { border-bottom-color:#dfdfdf; }

.selection-box:after, .widget.widget_text ul.quick-links li, .widget.widget_text ul.quick-links li:last-child, .dt-sc-team .social-icons li, .dt-sc-pullquote1, .ui_tpicker_hour_slider:after, .ui_tpicker_minute_slider:after, #buddypress .activity-list .activity-content .activity-inner, #buddypress .activity-list .activity-content blockquote, #buddypress .activity-list li.new_forum_post .activity-content .activity-inner, #buddypress .activity-list li.new_forum_topic .activity-content .activity-inner, .woocommerce ul.cart_list li dl, .woocommerce-page ul.cart_list li dl, .woocommerce ul.product_list_widget li dl, .woocommerce-page ul.product_list_widget li dl { border-left-color:#dfdfdf; }

.selection-box:after, #contact-form p .fa, .mailchimp-form .fa, .ui_tpicker_hour_slider:after, .ui_tpicker_minute_slider:after, #buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.forum tr td.label { border-right-color:#dfdfdf; }

.page-template-tpl-welcome-php form#ws-plugin--s2member-profile div.ws-plugin--s2member-profile-field-divider-section, .ui-datepicker-prev.ui-state-disabled { color:#dfdfdf; }

.tip_bottom #tiptip_content { box-shadow: inset 0px -1px 0px 0px #dfdfdf; -webkit-box-shadow:inset 0px -1px 0px 0px #dfdfdf; -moz-box-shadow:inset 0px -1px 0px 0px #dfdfdf; }

@media only screen and (max-width: 768px) {
	.tribe-events-loop .tribe-events-event-meta { background:#f6f6f6 !important; border-color:#dfdfdf !important; }
	.tribe-events-list .tribe-events-venue-details { border-color:#dfdfdf !important; }
}

.dt-sc-timeline-section:before, .dt-sc-timeline-section:after, .dt-sc-timeline-section .dt-sc-timeline.left .dt-sc-timeline-content h2:after, .dt-sc-timeline-section .dt-sc-timeline.right .dt-sc-timeline-content h2:after { border-color:#ededed; }
#footer .footer-widgets-wrapper { border-top-color:#ededed; }
.dt-sc-timeline-section { background:url(images/timeline_line.jpg) center top repeat-y; }

.dt-sc-course-searchform header h2 { background-color:#ededed; }

.header-search input[type="submit"], #newsletter form input[type="submit"] { background-color:rgba(0, 0, 0, 0.2); }
.header-search input[type="submit"]:hover, #newsletter form input[type="submit"]:hover { background-color:#303030; }

ol.dt-sc-lessons-list > li.dt-hidden-lesson > .hidden-lesson-overlay { background:rgba(255, 255, 255, 0.6); }

.tribe-bar-views-inner { background-color:#ededed; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { background-color:#dfdfdf; }
.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a { background-color:#aaaaaa; }

ul.side-nav > li.current_page_item > a:after, ul.side-nav > li > ul > li.current_page_item > a:after { background:url(images/side-nav-active.png) no-repeat; }
.dt-sc-testimonial blockquote:before { background:url(images/testimonial-arrow.png) no-repeat; }

/* Updates */
ol.dt-sc-lessons-list > li:after, ol.dt-sc-lessons-list li ol li .dt_lessons:before, ol.dt-sc-lessons-list li ol li.hassub:after { background:#dfdfdf; }
.dt-sc-dashboard-menus, .dt-sc-lessons-menu ul li:before, #dt-question-list .dt-question, .dt-sc-post-quiz-msg, .dt-sc-assignment-submission { border-color:#dfdfdf; }
.dt-sc-lessons-menu ul li:after { border-right-color:#dfdfdf; }
.dt-sc-lesson-staff .lesson-staff-details ul.teachers-details li, .dt-sc-assignment-submission li { border-bottom-color:#dfdfdf; }
.dt-sc-assignment-submission li .column {  border-left-color:#dfdfdf; } 

.dt-sc-lessons-menu ul, .dt-sc-lessons-menu ul li:before, .dt-sc-lesson-staff .lesson-staff-details, .dt-sc-timer-container, #dt-question-list .dt-title, .dt-mark, .dt-sc-post-quiz-msg, .dt-sc-assignment-file-types ul.assignment-file-types li, .dt-sc-assignment-file-size h6 span, .dt-sc-assignment-submission, .dt-sc-dashboard-menus { background:#f6f6f6; }

.dt-sc-user-details { background-color:#ededed; }
#dt-question-list .dt-question:before { border-color:#f6f6f6; }

.dt_quizes #dt-sc-ajax-load-image {   background:rgba(255, 255, 255, 0.7); }
ol.dt-sc-lessons-list > li:before { background-color:#ffffff; }

div.light_rounded .pp_top .pp_middle, div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right, div.light_rounded .pp_bottom .pp_middle, div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content, div.facebook .pp_content { background-color:#ffffff; }

/*----*****---- << Skin Color >> ----*****----*/

a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .fullwidth-section.dark-bg h1 a:hover, .fullwidth-section.dark-bg h2 a:hover, .fullwidth-section.dark-bg h3 a:hover, .fullwidth-section.dark-bg h4 a:hover, .fullwidth-section.dark-bg h5 a:hover, .fullwidth-section.dark-bg h6 a:hover, .dt-sc-ico-content.type14 .icon, .dt-sc-course-price, .dt-sc-course-meta p a:hover, .entry-details .entry-metadata p a:hover, .entry-details .entry-metadata p a:hover span, .dt-sc-ico-content.type13:hover h4 a, .dt-sc-timeline-section h2 a, .dt-sc-timeline-section h2, .widget.widget_popular_entries .recent-course-widget ul li .dt-sc-course-price, .widget.widget_popular_entries .recent-course-widget ul li h6 a:hover, .widget ul li a:hover, .widget.widget_text .textwidget .dt-sc-contact-info p a, .dt-sc-timeline .dt-sc-timeline-content i, tbody th a, .dt-sc-ico-content.type1 .icon span, .content-slider .rating span, .ajax-controls a:hover, .ajax-controls .ajax-close, .dt-sc-contact-info p a:hover, .recent-posts-widget ul li .entry-details .entry-title h4 a:hover,  .widget ul#recentcomments li a:hover, ul.tweet_list li a, .dt-sc-ico-content.type4 .icon span, .dt-sc-ico-content.type6 .icon span, .dt-sc-ico-content.type8 .icon span, .dt-sc-callout-box.type2 .icon, .dt-sc-callout-box.type3 .icon, .dt-sc-callout-box.type4 .icon, .dt-sc-pr-tb-col.selected .dt-sc-buy-now .dt-sc-button, .dt-sc-ico-content.type2:hover .icon span, .dt-sc-ico-content.type3:hover .icon, .dt-sc-ico-content.type5 .icon, .dt-sc-ico-content.type9 .icon, .dt-sc-ico-content.type7:hover .icon span, .contact-details p a:hover, .contact-details p, .dt-sc-callout-box.type1:hover .icon, .dt-sc-callout-box.type5:hover .icon, .dt-sc-testimonial .author-detail, .dt-sc-ico-content.type10 .icon span, .dt-sc-ico-content.type11 .icon, p span, .dt-sc-callout-box.type5 .dt-sc-button:hover, .project-details p a:hover, .dt-sc-contact-info .icon, .widget .recent-portfolio-widget li h6 a:hover, #footer .widget .recent-portfolio-widget li h6 a:hover, ul.side-nav > li.current_page_item > a:hover, ul.side-nav > li > ul > li.current_page_item > a:hover, ul.side-nav > li > ul > li > ul > li.current_page_item > a:hover, .dt-sc-ico-content.type12:hover h4 a, .fullwidth-background.dark-bg .breadcrumb a:hover, .fullwidth-background .breadcrumb a:hover, ul.side-nav li.current_page_item a, .courses-table-title a:hover, .courses-table-type, .dt-sc-course-single .entry-metadata p a:hover, ol.dt-sc-lessons-list li .lesson-metadata p a:hover, .dt-sc-lesson-single .lesson-metadata p a:hover, .dt-sc-pr-tb-col.type2.selected .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.type2:hover .dt-sc-tb-header .dt-sc-price, .dt-sc-course.custom-course-type .dt-sc-course-duration span, .dt-sc-course.custom-course-type .dt-sc-course-meta p a:hover, .fullwidth-section.dark-bg .dt-sc-course.custom-course-type .dt-sc-course-thumb h5 a:hover, .megamenu-child-container > ul.sub-menu > li > a:hover, .dt-sc-ico-content.type12 .icon, .dt-sc-team h5 a, .dt-team-entry-left .dt-sc-team h2, ul.teachers-details li:before, .dt-team-entry-content h3 { color:#536878; }

.megamenu-child-container ul.sub-menu > li > ul li.current_page_item a, .megamenu-child-container ul.sub-menu > li > ul li.current_page_ancestor a, .megamenu-child-container ul.sub-menu > li > ul li.current-menu-item a, .megamenu-child-container ul.sub-menu > li > ul li.current-menu-ancestor a, #main-menu ul li.menu-item-simple-parent ul li.current_page_item > a, #main-menu ul li.menu-item-simple-parent ul li.current_page_ancestor > a, #main-menu ul li.menu-item-simple-parent ul li.current-menu-item > a, #main-menu ul li.menu-item-simple-parent ul li.current-menu-ancestor > a { color:#536878; }


/*----*****---- << Background Color >> ----*****----*/

.dt-sc-event-container .dt-sc-event-thumb .event-price, .dt-sc-timeline-section:before, .dt-sc-timeline-section:after, .main-title-section-wrapper, th, .dt-sc-team .dt-sc-social-icons li a:after, .dt-sc-bar, .ajax-controls .ajax-close:hover, .portfolio .fig-overlay a:after, .dt-sc-contact-info span, .social-icons li a:after, .dt-sc-ico-content.type2 .icon span, .dt-sc-ico-content.type7 .icon, .dt-sc-callout-box.type4, .dt-sc-titled-box h6.dt-sc-titled-box-title, .dt-sc-pr-tb-col.selected .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.selected .dt-sc-buy-now .dt-sc-button:after, .dt-sc-ico-content.type3 .icon:after, .dt-sc-ico-content.type5 .icon, .dt-sc-ico-content.type9 .icon, .dt-sc-ico-content.type8:hover .icon, .dt-sc-ico-content.type3 .icon, .dt-sc-callout-box.type1 .icon, .dt-sc-callout-box.type5 .icon, .dt-sc-callout-box.type2:hover .icon, .dt-sc-callout-box.type3:hover .icon, .dt-sc-callout-box.type5 .dt-sc-button, .bx-controls a.bx-prev:hover, .bx-controls a.bx-next:hover, .widget.flickrbox .flickr-widget div, .sticky .featured-post, .featured-post, .mean-container a.meanmenu-reveal, .mean-container .mean-nav, ul.side-nav li a:hover:before, ul.side-nav > li.current_page_item > a:before, ul.side-nav > li > ul > li.current_page_item > a:before, ul.side-nav > li > ul > li > ul > li.current_page_item > a:before, .dt-sc-counter .icon, .dt-sc-pr-tb-col.selected .dt-sc-buy-now .dt-sc-button:hover, .skin-color, div.pp_overlay, .megamenu-child-container > ul.sub-menu > li > a:before, .megamenu-child-container > ul.sub-menu > li > .nolink-menu:before, .dt-sc-ico-content.type13 .icon/*, .dt-sc-ico-content.type14 .icon img, .dt-sc-ico-content.type14 .icon span:before, .dt-sc-timeline .dt-sc-timeline-content img, .dt-sc-timeline .dt-sc-timeline-content i:before*/ { background-color:#536878; }

.dt-sc-course-searchform header h2 span, .dt-sc-subscription-frm-container, .timeline-button, .dt-sc-event-meta .date, .ui-datepicker-calendar .ui-state-active, .ui-datepicker-calendar .ui-state-active:hover, .dt-sc-pr-tb-col.type2.selected, .dt-sc-pr-tb-col.type2:hover, .dt-sc-course.custom-course-type .dt-sc-course-duration .duration-icon { background:#536878; }

.top-bar { background-color:#455866; }
.dt-menu-toggle { background:#455866; }

@media only screen and (max-width: 767px) {
	#main-menu > ul.menu { background:#536878; }
}

/*----*****---- << Border Color >> ----*****----*/

.dt-sc-callout-box.type1, .dt-sc-callout-box.type3 { border-left-color:#536878; }

.ajax-controls .ajax-close:hover, .portfolio .fig-overlay a:hover, .dt-sc-pr-tb-col.selected, .dt-sc-pr-tb-col.selected .dt-sc-buy-now .dt-sc-button, .dt-sc-ico-content.type7 .icon, .dt-sc-ico-content.type2 .icon span, .dt-sc-callout-box.type1 .icon, .dt-sc-callout-box.type5 .icon, .dt-sc-testimonial:hover .author img { border-color:#536878; }

blockquote.type4, .dt-sc-pr-tb-col.type2:hover, .courses-view-type a:hover, .courses-view-type a.active { border-color:#536878; }
.dt-sc-event-container .dt-sc-event-thumb .event-price:before, blockquote.type2 { border-top-color:#536878; }
.dt-sc-pullquote5 { border-left:2px solid #536878; }
.dt-sc-pullquote6 { border-top:2px solid #536878; }

.mean-container .mean-nav ul li a.mean-expand:hover { border-color:#455866; }

#main-menu ul li.menu-item-simple-parent ul, .megamenu-child-container { border-bottom-color:#536878; }

/*----*****---- << Box Shadow >> ----*****----*/

.dt-sc-ico-content.type3 .icon { box-shadow:0 0 0 1px #536878; }

/*----*****---- << Secondary Color >> ----*****----*/

#main-menu > ul > li:hover > a, .header-register ul li a:hover, .dt-sc-button.filled:hover, .slider-search a, .dt-sc-custom-course-type:hover .dt-sc-course-details h5 a, .blog-entry:hover .entry-details .entry-title h4 a, .blog-entry:hover .entry-meta .date, .blog-entry:hover .entry-meta .entry_format, .widget.widget_text .textwidget .dt-sc-contact-info .icon i, h5.dt-sc-toggle a:hover, h5.dt-sc-toggle-accordion a:hover, .portfolio .image-overlay .links a:hover, .dt-sc-callout-box.type1 .dt-sc-button:hover, .dt-sc-callout-box.type5 .dt-sc-button:hover { color:#536878; }

input[type="submit"], button, input[type="button"], .dt-sc-button.filled, .dt-sc-counter h5 span, .border-title span, .dt-sc-button:hover, #footer .copyright, .post-edit-link:hover, h5.dt-sc-toggle.active:before, h5.dt-sc-toggle-accordion.active:before, .dt-sc-sorting-container a:hover, .dt-sc-sorting-container a.active-sort, .dt-sc-team h6:before, .dt-sc-callout-box.type1 .dt-sc-button, .dt-sc-callout-box.type5 .dt-sc-button, .carousel-arrows a:hover, .dt-sc-team:hover, .pagination ul li.active-page, .pagination ul li a:hover, .pagination .next-post a:hover, .pagination .prev-post a:hover, ul.commentlist li .reply a.comment-reply-link:hover, .courses-view-type a:hover, .courses-view-type a.active, .courses-price-type a:hover, .courses-price-type a.active, .widget .tagcloud a:hover, .widget h3.widgettitle span, .tribe-events-meta-group .tribe-events-single-section-title:before, .page-link a:hover, .page-link > span, .dt-sc-ico-content.type13:hover .icon, .woocommerce .wc-proceed-to-checkout a.checkout-button { background-color:#536878; }

.dt-sc-course-overlay, .portfolio .image-overlay { background:rgba(83, 104, 120, 0.9); }

.dt-sc-button:hover, .dt-sc-button.filled, .dt-sc-custom-course-type:hover .dt-sc-course-details .dt-sc-course-data, .blog-entry:hover .entry-meta .date, .blog-entry:hover .entry-meta .entry_format, .header-register ul li a:hover i, .post-edit-link:hover, h5.dt-sc-toggle.active:before, h5.dt-sc-toggle-accordion.active:before, .dt-sc-sorting-container a:hover, .dt-sc-sorting-container a.active-sort, .dt-sc-callout-box.type1 .dt-sc-button, .dt-sc-callout-box.type5 .dt-sc-button, .carousel-arrows a:hover, .pagination ul li.active-page, .pagination ul li a:hover, .pagination .next-post a:hover, .pagination .prev-post a:hover, ul.commentlist li .reply a.comment-reply-link:hover, .courses-view-type a:hover, .courses-view-type a.active, .courses-price-type a:hover, .courses-price-type a.active, .widget .tagcloud a:hover, .page-link a:hover, .page-link > span { border-color:#536878; }

@media only screen and (max-width: 319px) {
	ul.dt-sc-tabs-frame li a.current, ul.dt-sc-tabs-vertical-frame li a.current { background-color:#536878; border-color:#536878 !important; }
}

/*----*****---- << Woo Styles >> ----*****----*/
ul.products li:hover .product-container, .product .woocommerce-main-image img/*, .woocommerce-message .button, .woocommerce-error .button, .woocommerce-info .button*/ { border-color:#536878; }
.woocommerce-tabs ul.tabs li.active a { border-top-color:#536878; }
ul.products li .product-details .dt-sc-button, ul.products li .product-details-hover .dt-sc-button, ul.products li .product-thumb .onsale, .single-product .product > .onsale, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr th { background-color:#536878; }
/*.woocommerce-message .button, .woocommerce-error .button, .woocommerce-info .button, */ul.products li .product-details-hover h3 a:hover, .widget.widget_product_categories .product-categories li:hover span { color:#536878; }

/* Secondary Color */
ul.products li .product-details .add_to_cart_button, ul.products li .product-details-hover .add_to_cart_button, ul.products li .product-details .button, ul.products li .product-details-hover .button, ul.products li .product-details-hover .yith-wcwl-add-to-wishlist a, .product .summary .add_to_wishlist:hover, #reviews a.button:hover, .woocommerce-message .button:hover, .woocommerce-error .button:hover, .woocommerce-info .button:hover, .woocommerce table .button:hover, .product.woocommerce .button:hover, .wishlist_table .add_to_cart.button:hover { background-color:#536878; }

.product .summary .add_to_wishlist:hover, #reviews a.button:hover, .woocommerce-message .button:hover, .woocommerce-error .button:hover, .woocommerce-info .button:hover, .woocommerce table .button:hover, .product.woocommerce .button:hover, .wishlist_table .add_to_cart.button:hover { border-color:#536878; }

/*----*****---- << BuddyPress Styles >> ----*****----*/
.members .pagination a, #buddypress div.item-list-tabs ul li a span, #buddypress li span.unread-count, #buddypress tr.unread span.unread-count, .pagination-links a, .widget.buddypress div.item-options a.selected, .widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a:hover { color:#536878; }

.members .pagination a:after, .members .pagination span.current, .pagination-links a:after, .pagination-links span.current, #buddypress span.activity, #item-buttons .generic-button a:hover, #buddypress div.item-list-tabs ul li a:hover span, #buddypress div.item-list-tabs#subnav ul li.selected a, #buddypress div.item-list-tabs#subnav ul li.current a { background-color:#536878; }

.members .pagination a, .members .pagination span.current, .pagination-links a, .pagination-links span.current, #buddypress div.item-list-tabs ul li a span, #item-buttons .generic-button a, #buddypress div.activity-meta a:hover, #buddypress li span.unread-count, #buddypress tr.unread span.unread-count { border-color:#536878; }

#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a { border-top-color:#536878; }


/* Secondary Color */
#buddypress .activity-list li.load-more a:hover, #buddypress div.item-list-tabs#subnav ul li.selected a, #buddypress div.item-list-tabs#subnav ul li.current a, #buddypress div.item-list-tabs#subnav ul li a:hover { background-color:#536878; }
#buddypress .activity-list li.load-more a:hover, #buddypress div.item-list-tabs#subnav ul li.selected a, #buddypress div.item-list-tabs#subnav ul li.current a, #buddypress div.item-list-tabs#subnav ul li a:hover { border-color:#536878; }


/*----*****---- << Events Calendar Styles >> ----*****----*/
/*.tribe-events-sub-nav li a, */.tribe-events-calendar td a, /*.tribe-events-read-more, */.single-tribe_events a.tribe-events-ical, .single-tribe_events a.tribe-events-ical:hover, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-gcal:hover, .events-shortcode-list h2 a, .events-shortcode-list .read-more:hover, .widget.tribe-events-adv-list-widget .tribe-events-widget-link a, #footer .widget.tribe-events-adv-list-widget .tribe-events-widget-link a, .secondary-sidebar .tribe-mini-calendar .tribe-events-has-events a, #footer .tribe-mini-calendar .tribe-events-has-events a, #primary .tribe-mini-calendar .tribe-events-has-events a/*, .tribe-events-sub-nav li.tribe-events-nav-next a*/ { color:#536878; }

.secondary-sidebar .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, .secondary-sidebar .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover, #footer .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, #footer .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover, .tribe-events-list .tribe-events-event-cost span, #primary .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, #primary .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover { background-color: #536878; }

.tribe-events-day .tribe-events-day-time-slot h5, .tribe-events-calendar td .tribe-events-month-event-title a, .events-shortcode-list h2 a:hover, .events-shortcode-list .read-more { color:#536878; }
.secondary-sidebar .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present, .secondary-sidebar .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today, #footer .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present, #footer .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today, #primary .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present, #primary .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today { background:#536878; }

/*.tribe-events-sub-nav li a:after, */.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, #tribe-events-content .tribe-events-tooltip h4, .datepicker.dropdown-menu td.active.active, /*.tribe-events-read-more:after, */.secondary-sidebar .tribe-mini-calendar .tribe-mini-calendar-nav td, .secondary-sidebar .tribe-mini-calendar .tribe-events-present, .secondary-sidebar .tribe-mini-calendar .tribe-mini-calendar-today, #footer .tribe-mini-calendar .tribe-mini-calendar-nav td, #footer .tribe-mini-calendar .tribe-events-present, #footer .tribe-mini-calendar .tribe-mini-calendar-today, #primary .tribe-mini-calendar .tribe-mini-calendar-nav td, #primary .tribe-mini-calendar .tribe-events-present, #primary .tribe-mini-calendar .tribe-mini-calendar-today, #tribe-bar-form .tribe-bar-submit input[type="submit"]:hover, .tribe-grid-header, .tribe-events-calendar thead th, .widget.tribe-events-adv-list-widget .tribe-events-widget-link a:hover { background:#536878; }

.tribe-grid-header, .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column, .tribe-events-list .tribe-events-event-cost span { border-color:#455866; }

/*.tribe-events-sub-nav li a, .tribe-events-read-more, */.events-archive #main,  .events-single #main, .tribe-events-venue #main, .widget.tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-calendar thead th, .secondary-sidebar .tribe-mini-calendar .tribe-mini-calendar-nav td, #footer .tribe-mini-calendar .tribe-mini-calendar-nav td, #primary .tribe-mini-calendar .tribe-mini-calendar-nav td { border-color:#536878; }

.tribe-grid-allday .hentry.vevent > div, .tribe-grid-body div[id*="tribe-events-event-"] .hentry.vevent, .tribe-grid-allday .hentry.vevent > div:hover, .tribe-grid-body div[id*="tribe-events-event-"] .hentry.vevent:hover { background:rgba(83, 104, 120, 0.9); border-color:#455866; }
.tribe-grid-allday .hentry.vevent > div:hover, .tribe-grid-body div[id*="tribe-events-event-"] .hentry.vevent:hover { background:#536878; }

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, #tribe-events .tribe-events-button, .tribe-events-button.tribe-inactive, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover { background:#536878; }

@media only screen and (max-width: 768px) {
	.tribe-events-calendar td.tribe-events-present, #tribe-events-content .tribe-events-calendar td.tribe-events-present:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, .tribe-events-calendar td.mobile-active, .tribe-events-calendar .mobile-active div[id*="tribe-events-daynum-"], .tribe-events-calendar .mobile-active div[id*="tribe-events-daynum-"] a, #tribe-events-content .tribe-events-calendar .mobile-active:hover { background:#536878 !important; color:#ffffff; }
	.tribe-events-calendar .tribe-events-present.tribe-events-has-events:after { background:#ffffff; }
}

/* Secondary Color */
#tribe-bar-form .tribe-bar-submit input[type="submit"]:hover, .tribe-events-sub-nav li a:hover, .tribe-events-sub-nav li a:active, .tribe-events-read-more:hover, .tribe-events-read-more:active, .secondary-sidebar .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, .secondary-sidebar td.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a:hover, .secondary-sidebar .tribe-mini-calendar .tribe-events-has-events.tribe-events-right a:hover, #footer .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, #footer td.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a:hover, #footer .tribe-mini-calendar .tribe-events-has-events.tribe-events-right a:hover, .secondary-sidebar .tribe-mini-calendar .tribe-events-has-events:hover a:hover, #footer .tribe-mini-calendar .tribe-events-has-events:hover a:hover, #primary .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, #primary td.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a:hover, #primary .tribe-mini-calendar .tribe-events-has-events.tribe-events-right a:hover, #primary .tribe-mini-calendar .tribe-events-has-events:hover a:hover { background-color:#536878; }
#tribe-bar-form .tribe-bar-submit input[type="submit"]:hover, .tribe-events-sub-nav li a:hover, .tribe-events-sub-nav li a:active, .tribe-events-read-more:hover, .tribe-events-read-more:active { border-color:#536878; }


/*----*****---- << Sensei Styles >> ----*****----*/
#main .course .sensei-course-meta a:hover, #main .course-container .sensei-course-meta a:hover, .lesson-meta a:hover, .dt-sc-course .dt-sc-course-details .dt-sc-tags, .dt-sc-course .dt-sc-course-details .dt-sc-course-meta span a:hover { color:#536878; }

.dt-sc-course .dt-sc-course-price, .course .status, .course-lessons .status, .course-container .status, .meter.red > span, #my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a, #main .course .sensei-course-meta .course-price, #main .course-container .sensei-course-meta .course-price { background-color:#536878; }

#my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a { border-color:#536878; }

.course .status.register, .course-lessons .status.register, .course-container .status.register, .quiz input.quiz-submit.reset, .lesson input.quiz-submit.reset, .quiz input.quiz-submit.complete, .lesson input.quiz-submit.complete { background:#536878; }
.course .status.register:hover, .course-lessons .status.register:hover, .course-container .status.register:hover { background:#455866; }

.course-container a.button.course-delete, .course a.button.course-delete, .lesson a.button.course-delete, .quiz a.button.course-delete, .course-container a.comment-reply-link.course-delete, .course a.comment-reply-link.course-delete, .lesson a.comment-reply-link.course-delete, .quiz a.comment-reply-link.course-delete, .course-container #commentform #submit.course-delete, .course #commentform #submit.course-delete, .lesson #commentform #submit.course-delete, .quiz #commentform #submit.course-delete, .course-container .submit.course-delete, .course .submit.course-delete, .lesson .submit.course-delete, .quiz .submit.course-delete, .course-container input[type=submit].course-delete, .course input[type=submit].course-delete, .lesson input[type=submit].course-delete, .quiz input[type=submit].course-delete, .course-container input.button.course-delete, .course input.button.course-delete, .lesson input.button.course-delete, .quiz input.button.course-delete, .course-container button.button.course-delete, .course button.button.course-delete, .lesson button.button.course-delete, .quiz button.button.course-delete { background:#536878; }

.course-container a.button.course-delete:hover, .course a.button.course-delete:hover, .lesson a.button.course-delete:hover, .quiz a.button.course-delete:hover, .course-container a.comment-reply-link.course-delete:hover, .course a.comment-reply-link.course-delete:hover, .lesson a.comment-reply-link.course-delete:hover, .quiz a.comment-reply-link.course-delete:hover, .course-container #commentform #submit.course-delete:hover, .course #commentform #submit.course-delete:hover, .lesson #commentform #submit.course-delete:hover, .quiz #commentform #submit.course-delete:hover, .course-container .submit.course-delete:hover, .course .submit.course-delete:hover, .lesson .submit.course-delete:hover, .quiz .submit.course-delete:hover, .course-container input[type=submit].course-delete:hover, .course input[type=submit].course-delete:hover, .lesson input[type=submit].course-delete:hover, .quiz input[type=submit].course-delete:hover, .course-container input.button.course-delete:hover, .course input.button.course-delete:hover, .lesson input.button.course-delete:hover, .quiz input.button.course-delete:hover, .course-container button.button.course-delete:hover, .course button.button.course-delete:hover, .lesson button.button.course-delete:hover, .quiz button.button.course-delete:hover { background-color:#455866; }

.course-container a.button.course-complete, .course a.button.course-complete, .lesson a.button.course-complete, .quiz a.button.course-complete, .course-container a.comment-reply-link.course-complete, .course a.comment-reply-link.course-complete, .lesson a.comment-reply-link.course-complete, .quiz a.comment-reply-link.course-complete, .course-container #commentform #submit.course-complete, .course #commentform #submit.course-complete, .lesson #commentform #submit.course-complete, .quiz #commentform #submit.course-complete, .course-container .submit.course-complete, .course .submit.course-complete, .lesson .submit.course-complete, .quiz .submit.course-complete, .course-container input[type=submit].course-complete, .course input[type=submit].course-complete, .lesson input[type=submit].course-complete, .quiz input[type=submit].course-complete, .course-container input.button.course-complete, .course input.button.course-complete, .lesson input.button.course-complete, .quiz input.button.course-complete, .course-container button.button.course-complete, .course button.button.course-complete, .lesson button.button.course-complete, .quiz button.button.course-complete { background:#536878; }

.course-container a.button.course-complete:hover, .course a.button.course-complete:hover, .lesson a.button.course-complete:hover, .quiz a.button.course-complete:hover, .course-container a.comment-reply-link.course-complete:hover, .course a.comment-reply-link.course-complete:hover, .lesson a.comment-reply-link.course-complete:hover, .quiz a.comment-reply-link.course-complete:hover, .course-container #commentform #submit.course-complete:hover, .course #commentform #submit.course-complete:hover, .lesson #commentform #submit.course-complete:hover, .quiz #commentform #submit.course-complete:hover, .course-container .submit.course-complete:hover, .course .submit.course-complete:hover, .lesson .submit.course-complete:hover, .quiz .submit.course-complete:hover, .course-container input[type=submit].course-complete:hover, .course input[type=submit].course-complete:hover, .lesson input[type=submit].course-complete:hover, .quiz input[type=submit].course-complete:hover, .course-container input.button.course-complete:hover, .course input.button.course-complete:hover, .lesson input.button.course-complete:hover, .quiz input.button.course-complete:hover, .course-container button.button.course-complete:hover, .course button.button.course-complete:hover, .lesson button.button.course-complete:hover, .quiz button.button.course-complete:hover { background:#455866; }

.course-container a.button, .course a.button, .lesson a.button, .quiz a.button, .course-container a.comment-reply-link, .course a.comment-reply-link, .lesson a.comment-reply-link, .quiz a.comment-reply-link, .course-container #commentform #submit, .course #commentform #submit, .lesson #commentform #submit, .quiz #commentform #submit, .course-container .submit, .course .submit, .lesson .submit, .quiz .submit, .course-container input[type=submit], .course input[type=submit], .lesson input[type=submit], .quiz input[type=submit], .course-container input.button, .course input.button, .lesson input.button, .quiz input.button, .course-container button.button, .course button.button, .lesson button.button, .quiz button.button { background:#536878; }

.course-container a.button:hover, .course a.button:hover, .lesson a.button:hover, .quiz a.button:hover, .course-container a.comment-reply-link:hover, .course a.comment-reply-link:hover, .lesson a.comment-reply-link:hover, .quiz a.comment-reply-link:hover, .course-container #commentform #submit:hover, .course #commentform #submit:hover, .lesson #commentform #submit:hover, .quiz #commentform #submit:hover, .course-container .submit:hover, .course .submit:hover, .lesson .submit:hover, .quiz .submit:hover, .course-container input[type=submit]:hover, .course input[type=submit]:hover, .lesson input[type=submit]:hover, .quiz input[type=submit]:hover, .course-container input.button:hover, .course input.button:hover, .lesson input.button:hover, .quiz input.button:hover, .course-container button.button:hover, .course button.button:hover, .lesson button.button:hover, .quiz button.button:hover, .course-container a.button:active, .course a.button:active, .lesson a.button:active, .quiz a.button:active, .course-container a.comment-reply-link:active, .course a.comment-reply-link:active, .lesson a.comment-reply-link:active, .quiz a.comment-reply-link:active, .course-container #commentform #submit:active, .course #commentform #submit:active, .lesson #commentform #submit:active, .quiz #commentform #submit:active, .course-container .submit:active, .course .submit:active, .lesson .submit:active, .quiz .submit:active, .course-container input[type=submit]:active, .course input[type=submit]:active, .lesson input[type=submit]:active, .quiz input[type=submit]:active, .course-container input.button:active, .course input.button:active, .lesson input.button:active, .quiz input.button:active, .course-container button.button:active, .course button.button:active, .lesson button.button:active, .quiz button.button:active {  background:#455866; color:#ffffff; }

/* Secondary Color */
.course-container .navigation a:hover, .navigation a:hover { background-color:#536878; }
.course-container .navigation a:hover, .navigation a:hover { border-color:#536878; }

/* Updates - Skin Color */
.dt-sc-purchased, .dt-sc-dashboard-menus li a.active, .dt-sc-lessons-menu h4, .dt-sc-lesson-staff .lesson-staff-title, .dt-sc-lessons-menu ul li.current:before, .dt-sc-lessons-menu ul li.dt-lesson-complete.current:before, .dt-sc-timer-container h4 { background:#536878; }

.dt-sc-lessons-menu ul li.dt-lesson-complete.current:before { border-color:#536878; }

.dt-sc-user-dashboard-details .dt-sc-lesson-name a:hover, .dt-sc-user-dashboard-details .dt-sc-assignment-name a:hover, .dt-sc-user-dashboard-details .dt-sc-teachers-name a:hover, .dt-sc-lessons-menu ul li a.dt-sc-lesson-menu-name:hover, .dt-sc-lessons-menu ul li .dt-sc-lesson-menu-duration, .dt-sc-lessons-menu ul li.current a.dt-sc-lesson-menu-name { color:#536878; }

.dt-sc-media-attachments li a:hover, .dt-sc-assignment-score { background-color:#536878; }
.dt-sc-media-attachments li a:hover { border-color:#536878; }

/*----*****---- << Retina Images >> ----*****----*/

@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-devicepixel-ratio: 1.5), 
only screen and (min-resolution: 1.5dppx) {

	.dt-sc-timeline-section { background-image:url(images/timeline_line@2x.jpg); background-size:10px 1px; }
	ul.side-nav > li.current_page_item > a:after, ul.side-nav > li > ul > li.current_page_item > a:after { background-image:url(images/side-nav-active@2x.png); background-size:11px 46px; }
	.dt-sc-testimonial blockquote:before { background-image:url(images/testimonial-arrow@2x.png); background-size:18px 23px; }

}
.dt-sc-ico-content.type14 .icon span:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-repeat: no-repeat;
}
.dt-sc-ico-content.type14 .icon img, .dt-sc-ico-content.type14 .icon span:before, .dt-sc-timeline .dt-sc-timeline-content img, .dt-sc-timeline .dt-sc-timeline-content i:before{
	background-color: #536878;
}
.fa-custom-icon1:before {
    background-image: url(/wp-content/themes/lms/images/white-custom-icon1.png);
    width: 70px;
    height: 83px;
}
.fa-custom-icon2:before {
    background-image: url(/wp-content/themes/lms/images/white-custom-icon2.png);
    width: 91px;
    height: 73px;
}
.fa-custom-icon3:before {
    background-image: url(/wp-content/themes/lms/images/white-custom-icon3.png);
    width: 57px;
    height: 81px;
}
.fa-custom-icon4:before {
    background-image: url(/wp-content/themes/lms/images/white-custom-icon4.png);
    width: 81px;
    height: 73px;
}

.dt-sc-timeline .dt-sc-timeline-content i:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-repeat: no-repeat;
}
.dt-sc-timeline .dt-sc-timeline-content img, .dt-sc-timeline .dt-sc-timeline-content i:before {
    background-color: #536878;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon1:before {
    background-image: url(/wp-content/themes/lms/images/white-timeline-icon1.png);
    width: 50px;
    height: 41px;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon1 {
    width: 50px;
    height: 41px;
}

.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon2:before {
    background-image: url(/wp-content/themes/lms/images/white-timeline-icon2.png);
    width: 48px;
    height: 31px;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon2 {
    width: 48px;
    height: 31px;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon3:before {
    background-image: url(/wp-content/themes/lms/images/white-timeline-icon3.png);
    width: 44px;
    height: 39px;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon3 {
    width: 44px;
    height: 39px;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon4:before {
    background-image: url(/wp-content/themes/lms/images/white-timeline-icon4.png);
    width: 46px;
    height: 39px;
}
.dt-sc-timeline .dt-sc-timeline-content i.fa-timeline-icon4 {
    width: 46px;
    height: 39px;
}
