/*
 For table of courses 
*/
.course-overview-content .first-col {
	width: 45%;
    float: left;
}
#view-all-course-wrapper {
    margin: 1em 0 1em 0;
}
#view-all-course-wrapper .view-all-btn a, #view-all-course-wrapper .view-all-btn a:focus {
	text-decoration: blink;
}
.icon-certificated {
    background-image: url(/wp-content/themes/lms/images/customize/ico1.png);
    font-size: 1.6em;
    font-weight: 100;
    margin-left: -0.2em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: 1.1em 1em;
    font-family: 'Open Sans', sans-serif;
}
.icon-non-cetificated {
    background-image: url(/wp-content/themes/lms/images/customize/ico2.png);
    font-size: 1.6em;
    font-weight: 100;
    margin-left: -0.2em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 50px; /* Or size of icon + spacing */
    background-size: 1.1em 1em;
    font-family: 'Open Sans', sans-serif;
}
.single-vn-training-course {
}
.course-detail-page {
}
.course-detail-page .nav-tabs {
    display: none;
}

#detail-course-page-content {
    margin-top: 2em;
}
#detail-course-page-content .breadcrums-detail-course {

}
#detail-course-page-content .breadcrums-detail-course .breadcrum-list {
    list-style: none;
    padding-left: 0;
}
#detail-course-page-content .breadcrums-detail-course .breadcrum-list li {
    float: left;
    margin-right: 0.3em;
}
#detail-course-page-content .detail-course-page-title {
    clear: both;
    border-bottom: #F6F6F6 solid 1px;
    padding: 0.5em 0 0.5em 0;
    line-height: 1.2em;
}
#detail-course-page-content .course-information-wrapper {
    border: #ECECEC solid 1px;
    margin: 1.5em 0 1.5em 0;
}
#detail-course-page-content .course-information-wrapper .left-col-overview {
    width: 80%;
    float: left;
}
#detail-course-page-content .course-information-wrapper .course-overview-title, #course-detail-content-wrapper .detail-content-item-title, .other-certificated-courses .detail-content-item-title {
    margin-bottom: 1em;
}
#detail-course-page-content .course-information-wrapper .course-overview .course-overview-content{
    clear:both;
    }
#detail-course-page-content .download-couse-btn {
    width: 20%;
    float: right;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    margin-top: 0.5em;
}
#detail-course-page-content .download-couse-btn a, #detail-course-page-content .download-couse-btn a:hover, #detail-course-page-content .download-couse-btn a:visited {
    font-size: 0.8em;
    text-decoration: blink; 
    width: 20%;
    outline: none;
}
#detail-course-page-content .download-couse-btn:hover {
    cursor: pointer;
}
@media only screen and (max-width: 690px) {
    #detail-course-page-content .download-couse-btn  {
        width: 70px;
        height: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        text-indent: -9999px;
        float: right;
        background: url(../images/download-icon.png) no-repeat center/70%;
    }
    #detail-course-page-content .course-information-wrapper .left-col-overview {
    float: left;
    }
    #detail-course-page-content .download-couse-btn a, #detail-course-page-content .download-couse-btn a:hover, #detail-course-page-content .download-couse-btn a:visited {
    width: 70px;
    height: 70px;
    float: right;
    display: block;
    outline: none;
}
}
#detail-course-page-content .course-information-wrapper {
    margin-bottom: 0.5em;
}
#detail-course-page-content .course-information-wrapper .course-overview {
    padding: 1em;
    
}
.course-information-wrapper .course-overview-content-field {
}
#detail-course-page-content .course-information-wrapper .course-field-lable {
    font-weight: 600;
    float: left;
    padding-right: 0.3em;
}
#detail-course-page-content .course-information-wrapper .course-field-value {
    font-weight: 100;
}
#detail-course-page-content .course-price-wrapper {
}
#detail-course-page-content .course-message {
	margin-top: 1em;
    clear: both;
}
#detail-course-page-content .course-price-wrapper .course-unit-price-title {
    padding-left: 1.5em;
    padding-right: 1.5em;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    background-color: #f6f6f6;
}
#detail-course-page-content .course-price-wrapper .course-unit-price-title .course-field-lable {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 500;
}
#detail-course-page-content .course-price-wrapper .course-unit-price-title .course-field-value {
    display: inline;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}
#detail-course-page-content .course-price-wrapper .course-price-detail {
    position: relative;
    padding: 0.5em 1.5em;
    margin: 0;
    clear: both;
}
#detail-course-page-content .course-unit-price-col {
    padding: 0 1em 0 0;
    width: 32%;
}
#detail-course-page-content .course-unit-price-package .course-unit-price-name {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 1em;
}
#detail-course-page-content .course-unit-price-package .course-unit-price-date {
    font-weight: 100;
}
/*dung.le*/
#detail-course-page-content .course-unit-price-package .original-course-unit-price {
    font-size: 0.9em;
    text-decoration: line-through;
    font-weight: 100;
}

#detail-course-page-content .course-unit-price-package .course-unit-price {
    font-size: 1.3em;
    font-weight: 600;
}
#detail-course-page-content .course-information-footer {
    border-top: #F6F6F6 solid 1px;
}
/*dung.le updated*/
#detail-course-page-content .course-information-footer .course-unit-price-off {
    padding: 1.5em 1em 1.5em 1em;
    text-align: center;
}
#detail-course-page-content img {
    max-width: 100%;
}
#detail-course-page-content .detail-course-logo {
	height: 6em;
    background-repeat: no-repeat;
    background-size: contain;
}
/*dung.le updated*/
#detail-course-page-content .course-register-button-wrapper {
    padding: 2.8em 1em 2.7em 1em;
    text-align: center;
}
#detail-course-page-content .single-course-register-button-wrapper {
    padding: 1.5em 1em 1.5em 1em;
}
#detail-course-page-content .course-register-button-wrapper a {
    font-size: 1em;
    text-transform: uppercase;
}
#detail-course-page-content .course-detail-button {
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}
#detail-course-page-content .expiry-on .course-detail-button {
    cursor: default;
    background-color: #36434c;
    border-color: #36434c;
}
#detail-course-page-content .course-detail-button.expiry-on {
    cursor: default;
}
#detail-course-page-content .course-detail-button:hover {
}

#course-detail-content-wrapper {
    clear: both;
    text-align: justify;
}
#course-detail-content-wrapper .detail-content-item-title {
    margin-top: 0.6em;
}
#course-detail-content-wrapper .detail-content-item-body {
}
#course-detail-content-wrapper .detail-content-item-body ul, #course-detail-content-wrapper .detail-content-item-body ul li{
    font-weight: 100;
}
#course-detail-content-wrapper .course-detail-author {
    font-weight: 600;
}
#course-detail-content-wrapper .course-detail-author a {
    font-weight: 600;
}
#course-detail-content-wrapper .course-detail-attend-role a {
}

#course-detail-content-wrapper .course-detail-content-footer {
    margin: 2em 0 2em 0;
}
#course-detail-content-wrapper .second-register-button-wrapper {
	padding: 0;
}
/* Other Certificated courses */
#certified-courses-table-wrapper table tbody *, #non-certified-courses-table-wrapper table tbody * {
	text-align: left;
	vertical-align: middle;
}
/*dung.le add new*/
.other-certificated-courses {
	text-align: left;
}
.other-certificated-courses .detail-content-item .detail-content-item-title {
}
.other-certificated-courses table {
	table-layout: fixed;
}
.other-certificated-courses table tr td {
}
.other-certificated-courses.certificate table tr td:nth-child(4), .other-certificated-courses.certificate table tr td:nth-child(6) {
    font-weight: 100;
    line-height: 1.2em;
}
.other-certificated-courses table tr td:nth-child(3), .other-certificated-courses table tr td:nth-child(4) a {
    font-weight: 100;
    line-height: 1.2em;
    word-wrap: break-word;
}
.other-certificated-courses table tr td a.color-inherit {
    color: inherit;
    font-weight: 600;
}
.other-certificated-courses table tr td a.color-inherit:hover {
}
.other-certificated-courses .course-name {
    font-weight: 600;
    float: left;
    padding-right: 0.3em;
}
.other-certificated-courses .course-cert-icon {
	width: 15%;
	text-align: center;
}
.other-certificated-courses .course-cert-icon img {
	max-width: 100%;
}
.other-certificated-courses table thead {
}
.other-certificated-courses table tbody tr:hover {
    background-color: #E8E5E5;
}
/*dung.le updated*/
.other-certificated-courses table thead th {
    padding: 8px;
    vertical-align: middle;
}
.other-certificated-courses table .course-date-col {
	font-weight: 100;
	word-wrap: break-word;
    line-height: 1em;
}
/*dung.le updated*/
.other-certificated-courses table .coures-name-col {
    font-weight: bold;
}
.other-certificated-courses table .course-register-col, .other-certificated-courses table .course-download-col {
    font-weight: 600;
    padding: 0;
}
.other-certificated-courses table .course-register-col a, .other-certificated-courses table .course-download-col a {
    font-weight: 600 !important;
}
.other-certificated-courses table .course-register-col a:hover {
    text-decoration: underline;
}
.other-certificated-courses table .course-download-col a:hover, .other-certificated-courses table .course-download-col a:focus {
    text-decoration: blink;
}
.other-certificated-courses table .coures-name-col a {
    font-weight: 600;
    line-height: 1em;
    word-break: break-word;
}
.other-certificated-courses table .coures-name-col a:hover {
}
.other-certificated-courses table .coures-name-col a:visited {
}
#detail-course-page-content .detail-content-item-body ol li {
	font-weight: 100;
}
/*********************************************************************************************
 * Style for trainers slider
 *********************************************************************************************
 */
#trainers-wrapper .trainers-slider-wrapper {
	margin-left: -20px;
}
.trainers-slider-wrapper .owl-carousel .owl-controls .owl-nav .owl-prev {
    width: 26px;
    height: 26px;
    padding: 0px;
    margin: 2px;
    margin-bottom: 8px;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    vertical-align: middle;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
.trainers-slider-wrapper .portfolios-jcarousel-wrapper .owl-controls .owl-nav .owl-prev:before {
	content: "\f053";
	font-family: "FontAwesome";
}
.trainers-slider-wrapper .portfolios-jcarousel-wrapper .owl-controls .owl-nav .owl-next:before {
	content: "\f054";
}
.trainers-slider-wrapper .owl-carousel .owl-controls .owl-nav .owl-next {
    width: 26px;
    height: 26px;
    padding: 0px;
    margin: 2px;
    margin-bottom: 8px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    vertical-align: middle;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
#trainers-wrapper .owl-item .image.portfolio-image-thumb img {
	display: none;
}
#trainers-wrapper .trainer-name {
    text-align: left;
    font-weight: 100;
}



#trainers-wrapper .portfolio-middle-prev-nav, #trainers-wrapper .portfolio-middle-next-nav {
}
#trainers-wrapper .portfolio-middle-next-nav {
    right: 0;
}
#projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
    position: relative !important;
    width: 100%;
    margin-top: 0 !important;
    right: 0;
    display: none !important;
}
#trainers-wrapper .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #fff;
    -webkit-border: 1px solid #fff;
    -moz-border: 1px solid #fff;
    behavior: url('/wp-content/themes/lms/css/pie/PIE.htc');
    position: relative;
}
#trainers-wrapper .owl-dots .owl-dot.active span, #trainers-wrapper .owl-dots .owl-dot:hover span {
    background: #3563ab;
    box-shadow: none;
    behavior: url('/wp-content/themes/lms/css/pie/PIE.htc');
    position: relative;
}
@media only screen  
  and (max-width: 1275px) {
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
	    display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}


@media only screen  
  and (max-width: 999px) {
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}
@media only screen  
  and (max-width: 991px) {
    #detail-portfolio-description {
        padding: 1em 0 0 0;
    }
    
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}
@media only screen  
  and (max-width: 860px) {
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
    
}
#trainers-wrapper .trainer-image-overlay {
	height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    position: absolute;
    filter: alpha(opacity=70);
    display: none;
    background: #3563AB url(../images/icon-search.jpg) 50% 50% no-repeat;
}
#trainers-wrapper .single-portfolio-item-wrapper:hover .trainer-image-overlay {
	display: block !important;
} 

@media only screen  
  and (max-width: 1275px) {
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}

@media only screen  
  and (max-width: 999px) {
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}
@media only screen  
  and (max-width: 991px) {
    #detail-portfolio-description {
        padding: 1em 0 0 0;
    }
    
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}
@media only screen  
  and (max-width: 860px) {
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-dots {
        display: none !important;
    }
    #projects-portfolios-carousels.trainers-slider-wrapper .owl-controls .owl-nav {
        display: block !important;
    }
}

/*****************************************
 Style for detail trainer profile.
*/
#trainer-blogs {
}
#trainer-blogs .owl-dots {
	display: none !important;
}
#detail-content-wrapper {
	margin-bottom: 50px;
}
#trainer-profile-main-page-wrapper img {
	max-width: 100%;
}
#trainer-profile-main-page-wrapper .trainer-image img {
	width: 100%;
}
.profile-body-wrapper .profile-title {
    margin-bottom: 1em;
    font-weight: 100;
}
.profile-body-wrapper .profile-body {
	text-align: justify;
}
.profile-overview-wrapper {
    padding: 22px 25px;
}
.profile-overview-wrapper .profile-overview-content {
	padding: 0;
	min-height: 260px;
	text-align: justify;
}
.profile-overview-wrapper .profile-overview-content ul {
	padding-left: 20px;
}
.profile-overview-wrapper .profile-overview-content ul li {
	font-weight: 100;
}
.profile-overview-wrapper .follow-me {
    text-align: left;
    border-top: solid 1px #194186;
    padding-top: 15px;
    margin-top: 15px;
    padding-left: 5%;
    height: 40px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.profile-overview-wrapper .follow-me .follow-name {
	font-weight: 600;
	margin-right: 5%;
}
.profile-overview-wrapper .follow-me .lighter-text {
	font-weight: 100;
}
.profile-overview-wrapper .follow-me p {
    float: none;
    margin: 0;
}
.profile-overview-wrapper .follow-me p .icon {
    margin: 4px;
}
.profile-overview-wrapper .follow-me .follow-texts {
    float: left;
    line-height: 2.3em;
    height: 2em;
    vertical-align: middle;
    position: relative;
    display: block;
    float: left;
    margin-right: 2%;
}
.profile-overview-wrapper .follow-me .follow-wrapper {
	display: inline-block;
}
.profile-overview-wrapper .follow-me .follow-icons {
    float: left;
    line-height: 2em;
    height: 2em;
    vertical-align: middle;
    position: relative;
}
.profile-overview-wrapper .trainer-image {
	border: solid 6px #fff;
}

.certification-logos-wrapper .single-certification-logo {
	display: inline-block;
	margin: 0 1% 0 0;
}
.single-blog-content {
	
}
.single-blog-content .blog-image img {
	max-width: 100%;
	display: none;
}
.single-blog-content .blog-description {
	float: left;
	width: 70%;
	padding: 0 0 0 6%;
}
.single-blog-content .blog-image {
	float: left;
	width: 30%;
}
.single-blog-content .blog-title {
	font-weight: 600;
}
.single-blog-content .custom-date {
	font-weight: 100;
    font-style: italic;
    margin-bottom: 7px;
    margin-top: -10px;
}
.single-blog-content .short-content {
	    font-weight: 100;
    line-height: 1.2em;
}
/* Navigation of blog
*/
.trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .portfolio-middle-next-nav {
    height: 130px;
    line-height: 30px;
    width: 48px;
    top: 24%;
    margin-top: -40px;
    position: absolute;
}
.trainer-blocks .owl-nav .portfolio-middle-prev-nav:hover {
    background: url(../images/left-arrow-hover.png) 0% 50% no-repeat;
    line-height: 30px;
    margin-left: -5%;
    left: 0;
    opacity: 1;
}
.trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .disabled.portfolio-middle-prev-nav {
    background: url(../images/left-arrow.png) 0% 50% no-repeat;
    margin-left: -5%;
    left: 0;
}
.trainer-blocks .owl-nav .portfolio-middle-prev-nav:hover {
    background: url(../images/left-arrow-hover.png) 0% 50% no-repeat;
    line-height: 30px;
    margin-left: -5%;
    left: 0;
    opacity: 1;
}
.trainer-blocks .owl-nav .portfolio-middle-next-nav, .trainer-blocks .owl-nav .portfolio-middle-next-nav.disabled {
    background: url(../images/right-arrow.png) 100% 50% no-repeat;
    margin-right: -5%;
}
.trainer-blocks .owl-nav .portfolio-middle-next-nav:hover {
    background: url(../images/right-arrow-hover.png) 100% 50% no-repeat;
    margin-right: -5%;
}
.trainer-blocks .portfolio-middle-prev-nav, .trainer-blocks .portfolio-middle-next-nav {
}
.trainer-blocks .portfolio-middle-next-nav {
    right: 0;
}
.trainer-blocks .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #fff;
    -webkit-border: 1px solid #fff;
    -moz-border: 1px solid #fff;
    behavior: url('/wp-content/themes/lms/css/pie/PIE.htc');
    position: relative;
}
.trainer-blocks .owl-dots .owl-dot.active span, .trainer-blocks .owl-dots .owl-dot:hover span {
    background: #3563ab;
    box-shadow: none;
    behavior: url('/wp-content/themes/lms/css/pie/PIE.htc');
    position: relative;
}
@media only screen  
  and (max-width: 1275px) {
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
        display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
        display: none;
    }
}
@media only screen  
  and (max-width: 1050px) {
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .disabled.portfolio-middle-prev-nav {
        background: url(../images/left-arrow.png) 0% 50% no-repeat;
        margin-left: -3%;
        left: 0;
        background-size: 80% 80%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .portfolio-middle-next-nav {
        background-size: 80% 80%;
        margin-top: 0px;
        top: 4%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-next-nav, .trainer-blocks .owl-nav .portfolio-middle-next-nav.disabled {
        margin-right: -3%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav:hover {
        background: url(../images/left-arrow-hover.png) 0% 50% no-repeat;
        margin-left: -3%;
        left: 0;
        background-size: 80% 80%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-next-nav:hover {
        background: url(../images/right-arrow-hover.png) 100% 50% no-repeat;
        margin-right: -3%;
        background-size: 80% 80%;
        right: 0;
    }
}
@media only screen  
  and (max-width: 999px) {
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
        display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
        display: none;
    }
}
@media only screen  
  and (max-width: 991px) {
    #detail-portfolio-description {
        padding: 1em 0 0 0;
    }
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .disabled.portfolio-middle-prev-nav {
           display: none;
    }
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
        display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
        display: none;
    }
    .profile-overview-wrapper .trainer-image {
		margin-top: 20px;
	}
}
@media only screen  
  and (max-width: 860px) {
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
        display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
        display: none;
    }
    
}
@media only screen  
  and (max-width: 1275px) {
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
	    display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
	    display: none;
    }
}
@media only screen  
  and (max-width: 1050px) {
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .disabled.portfolio-middle-prev-nav {
	    background: url(../images/left-arrow.png) 0% 50% no-repeat;
        margin-left: -3%;
        left: 0;
        background-size: 80% 80%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .portfolio-middle-next-nav {
        background-size: 80% 80%;
        margin-top: 0px;
        top: 4%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-next-nav, .trainer-blocks .owl-nav .portfolio-middle-next-nav.disabled {
        margin-right: -3%;
    }
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav:hover {
	    background: url(../images/left-arrow-hover.png) 0% 50% no-repeat;
        margin-left: -3%;
        left: 0;
        background-size: 80% 80%;
	}
    .trainer-blocks .owl-nav .portfolio-middle-next-nav:hover {
	    background: url(../images/right-arrow-hover.png) 100% 50% no-repeat;
        margin-right: -3%;
        background-size: 80% 80%;
        right: 0;
    }
}
@media only screen  
  and (max-width: 999px) {
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
	    display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
	    display: none;
    }
}
@media only screen  
  and (max-width: 991px) {
    #detail-portfolio-description {
        padding: 1em 0 0 0;
    }
    .trainer-blocks .owl-nav .portfolio-middle-prev-nav, .trainer-blocks .owl-nav .disabled.portfolio-middle-prev-nav {
/*         background: url(../images/left-arrow.png) 0% 50% no-repeat; */
/*         margin-left: 0%; */
/*         left: 0; */
/*         background-size: 74% 74%; */
           display: none;
    }
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
	    display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
	    display: none;
    }
}
@media only screen  
  and (max-width: 860px) {
    #trainer-blogs .trainer-blocks .owl-controls .owl-dots {
	    display: block !important;
    }
    .trainer-blocks .owl-controls .owl-nav {
	    display: none;
    }
}

/*********************************************************************************************/

/********************************************************************************************
  For training courses tables
*/

@media only screen  
and (max-width: 660px) {
   body, .background-gray {
  }
  .other-certificated-courses.non-certificate table thead tr th:nth-child(3),
  .other-certificated-courses.non-certificate table thead tr th:nth-child(4),
  .other-certificated-courses.non-certificate table thead tr th:nth-child(5),
  .other-certificated-courses.non-certificate table tbody tr td:nth-child(3),
  .other-certificated-courses.non-certificate table tbody tr td:nth-child(4),
  .other-certificated-courses.non-certificate table tbody tr td:nth-child(5)
  {
      display: none;
  }
  .other-certificated-courses.certificate table thead tr th:nth-child(2),
  .other-certificated-courses.certificate table thead tr th:nth-child(4),
  .other-certificated-courses.certificate table thead tr th:nth-child(5),
  .other-certificated-courses.certificate table thead tr th:nth-child(6),
  .other-certificated-courses.certificate table tbody tr td:nth-child(2),
  .other-certificated-courses.certificate table tbody tr td:nth-child(4),
  .other-certificated-courses.certificate table tbody tr td:nth-child(5),
  .other-certificated-courses.certificate table tbody tr td:nth-child(6)
  {
      display: none;
  }
}
/* For course catalog */
@media only screen  
and (max-width: 660px) {
	#course-catalog-page .other-certificated-courses.non-certificate table thead tr th:nth-child(2),
  #course-catalog-page .other-certificated-courses.non-certificate table thead tr th:nth-child(3),
  #course-catalog-page .other-certificated-courses.non-certificate table tbody tr td:nth-child(2),
  #course-catalog-page .other-certificated-courses.non-certificate table tbody tr td:nth-child(3)
  {
      display: table-cell !important;
  }
  #course-catalog-page .other-certificated-courses.certificate table thead tr th:nth-child(3),
  #course-catalog-page .other-certificated-courses.certificate table thead tr th:nth-child(4),
  #course-catalog-page .other-certificated-courses.certificate table tbody tr td:nth-child(3),
  #course-catalog-page .other-certificated-courses.certificate table tbody tr td:nth-child(4)
  {
      display: table-cell !important;
  }
  #single-course-catalog-page .other-certificated-courses.non-certificate table thead tr th:nth-child(2),
  #single-course-catalog-page .other-certificated-courses.non-certificate table thead tr th:nth-child(3),
  #single-course-catalog-page .other-certificated-courses.non-certificate table tbody tr td:nth-child(2),
  #single-course-catalog-page .other-certificated-courses.non-certificate table tbody tr td:nth-child(3)
  {
      display: table-cell !important;
  }
  #single-course-catalog-page .other-certificated-courses.certificate table thead tr th:nth-child(3),
  #single-course-catalog-page .other-certificated-courses.certificate table thead tr th:nth-child(4),
  #single-course-catalog-page .other-certificated-courses.certificate table tbody tr td:nth-child(3),
  #single-course-catalog-page .other-certificated-courses.certificate table tbody tr td:nth-child(4)
  {
      display: table-cell !important;
  }
}
/*dung.le add new*/
@media only screen  
  and (max-width: 370px) {
    .other-certificated-courses table * {
        line-height: 1.4;
    }
}
@media only screen  
  and (max-width: 350px) {
    .other-certificated-courses table * {
        line-height: 1.4;
    }
}
@media only screen  
  and (max-width: 340px) {
    .other-certificated-courses table * {
        line-height: 1.4;
    }
    #detail-course-page-content .contact-us-area .contact-us-notes {
    }
}
@media only screen  
  and (max-width: 315px) {
    .other-certificated-courses table * {
        line-height: 1.4;
    }
}
@media only screen  
  and (max-width: 301px) {
    .other-certificated-courses table * {
        line-height: 1.4;
    }
}
/**
 * For course catalog
 */

/*Style for image slider in detail course*/
.course-detail-content-slider  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.course-detail-content-slider img {
    cursor: pointer;
}
#course-detail-content-slider-id .owl-controls {
    position: relative;
}
#course-detail-content-slider-id  .owl-controls .owl-dots {
    position: absolute;
    top: -32px;
    width: 100%;
}

#course-detail-content-slider-id .owl-controls .owl-nav .owl-prev{
    width: 50px;
    height: 30px;
    padding: 0px;
    margin: 2px;
    margin-top: 8px; 
    margin-bottom: 8px;
    font-family: "FontAwesome";;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    vertical-align: middle;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
    /*opacity: 0.4;*/
}
#course-detail-content-slider-id .owl-prev:before{
    content: "\f053" ;
	font-family: "FontAwesome";
} 
#course-detail-content-slider-id .owl-controls .owl-nav .owl-next{
    width: 50px;
    height: 30px;
    padding: 0px;
    margin: 2px;
    margin-top: 8px; 
    margin-bottom: 8px;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    vertical-align: middle;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
}
#course-detail-content-slider-id .owl-next:before{
    content: "\f054" ;
	font-family: "FontAwesome";
}
#course-detail-content-slider-id .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #fff;
    -webkit-border: 1px solid #fff;
    -moz-border: 1px solid #fff;
    behavior: url('/wp-content/themes/lms/css/pie/PIE.htc');
    position: relative;
}
#course-detail-content-slider-id .owl-dots .owl-dot.active span, #course-detail-content-slider-id .owl-dots .owl-dot:hover span {
    background: #3563ab;
    box-shadow: none;
    behavior: url('/wp-content/themes/lms/css/pie/PIE.htc');
    position: relative;
}
#course-detail-content-slider-id .owl-controls .owl-nav div.disabled {
   opacity: 0.6;  
}

/* For register popup */
.overlay-bg {
/* 	display: none; */
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}
	.overlay-content {
/* 		display: none; */
		background: #fff;
		padding: 1%;
		width: 40%;
		position: absolute;
		top: 1%;
		left: 50%;
		margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
		cursor: default;
		z-index: 10001;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.9);
	}
/*Style for image slider in detail course*/
.course-detail-content-slider  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.course-detail-content-slider img {
    cursor: pointer;
}
#course-detail-content-slider-id .owl-controls {
    position: relative;
}
#course-detail-content-slider-id  .owl-controls .owl-dots {
    position: absolute;
    top: -32px;
    width: 100%;
}

#course-detail-content-slider-id .owl-controls .owl-nav .owl-prev{
    background-color: #ddd ;
    width: 50px;
    height: 30px;
    padding: 0px;
    margin: 2px;
    margin-top: 8px; 
    margin-bottom: 8px;
    font-family: "FontAwesome";;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    vertical-align: middle;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
    /*opacity: 0.4;*/
}
#course-detail-content-slider-id .owl-prev:before{
    content: "\f053" ;
	font-family: "FontAwesome";
} 
#course-detail-content-slider-id .owl-controls .owl-nav .owl-next{
    background-color: #ddd;
    width: 50px;
    height: 30px;
    padding: 0px;
    margin: 2px;
    margin-top: 8px; 
    margin-bottom: 8px;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    vertical-align: middle;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
}
#course-detail-content-slider-id .owl-next:before{
    content: "\f054" ;
	font-family: "FontAwesome";
}
#course-detail-content-slider-id .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #fff;
    -webkit-border: 1px solid #fff;
    -moz-border: 1px solid #fff;
    behavior: url('/wp-content/themes/smartdev/css/pie/PIE.htc');
    position: relative;
}
#course-detail-content-slider-id .owl-dots .owl-dot.active span, #course-detail-content-slider-id .owl-dots .owl-dot:hover span {
    background: #3563ab;
    box-shadow: none;
    behavior: url('/wp-content/themes/smartdev/css/pie/PIE.htc');
    position: relative;
}
#course-detail-content-slider-id .owl-controls .owl-nav div.disabled {
   opacity: 0.6;  
}
/* Register popup in detail public course page */
.single-training-course .container-dialog {
	top: 22px;
} 