/*phần tử phủ toàn màn hình*/
#over {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
}
.container-dialog {
	background-color: #fbf9fa;
	height: auto;
	width: 55%;
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 99999;
	top: 22px;
	padding: 1em;
	left: 50%;
	margin-left: -25%;
}
.title-dialog{
	height: 20%;
	background-color:#fbf9fa;
}
.title-course{
	text-align: center;
	padding-bottom: 2%;
	font-weight: bold;
	color: #404751;
	text-transform: uppercase;
}
.img-course {
	width: 5%;
	height: auto;
}
.container-name-course{
	text-align: center;
	color: #616872;
	padding-bottom: 1em;
	padding-left: 4%;
    padding-right: 4%;
	border-bottom: 1px solid #d0d0d0;
}
.title-form{
	margin-top: 2em;
	font-weight: bold;
	text-align: center;
	text-transform:uppercase;
}

.label-form{
	float: left;
}
.container-input{
	margin-left: 7%;
}
.margin-address{
	margin-left: 0%;
}
.message-color{
	color: blue;
}
.boder-register{
	margin-top: 5%;
	padding: 3%;
	border-style: dashed;
	width: 93%;
}
.btn-custom1{
	width: 93%;
	padding: 3%;
	margin-top: 3%;
}
.message-color1{
	color: red;
}




#dvLoading
{
	display: none;
	height: 150px;
	width: 152px;
	overflow: hidden;
	position: fixed;
	z-index: 99999;
	top: 36%;
	left: 45%;
	text-align: center;
}

.success-dialog
{
	background-color:white;
	height: auto;
	width: auto;
	display:none;
	overflow: hidden;
	position:fixed;
	z-index:99999;
	top:25%;
	left:35%;
	padding: 2%;
}
.img-success {
	width: 20%;
	height: auto;
	margin-left: 40%;
	margin-top: 10%;
}
.message-success{
	text-align: center;
	margin-top: 5%;
}
.btn-custom2{
	width: 30%;
	margin-left: 35%;
	margin-top: 5%;
	padding: 3%;
	margin-bottom: 3%
}
#dvLoading .loading-sendmail{
	height: 150px; width: 150px;
}
div.margin-address input.in-address{
	width: 92%;
}

#login-box #firstname{
	width:100%;
}
#login-box #lastname{
	width:100%;
}
#login-box #gender{
	width:80%;
}
#login-box #jobtitle{
	width:95%;
}
#login-box #company{
	width:88%;
}
#login-box #email{
	width:95%;
}
#login-box #workphone{
	width:88%;
}


@media only screen  
and (max-width: 600px) {

	.container-dialog
	{
		height:auto;
		width:70%;
		display:none;
		overflow: hidden;
		position:absolute;
		z-index:99999;/*đặt z-index để nó nổi bật và chồng lên phần tử khác trong trang*/
		top:5%;
		left:40%;
	}
	#dvLoading .loading-sendmail{
		height: 100px; width: 100px;
	}
	
	.message-success{
		text-align: center;
		margin-top: 2%;
	}
	.title-course{
	}
	#login-box #name-course{
		display: inline-block;
        vertical-align: middle;
	}
	.title-form{
	}

	.label-form{
	}
	
	span.message-color1{
	}

	div.login-box *{
		font-weight: normal;
		line-height: 20px;
	}
	.btn-custom1{
		width: 86%;
	}
	.success-dialog
	{
		left:20%;
	}

	#successdg p,#successdg b,#errodg p,#errodg b{
		padding: 2%;
	}
}
@media only screen  
and (max-width: 990px) {
	#login-box #firstname,#login-box #lastname,#login-box #gender,
	#login-box #jobtitle,#login-box #company,#login-box #email,#login-box #workphone{
		width: 16.5em;
		display: block;
	}
}
.error-field{
	border: solid 1px red !important;
}
.ui-dialog-titlebar {
	      display: none;
	    }