<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Job types` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Full-Stack Software Engineers`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Full-Stack Software Engineers`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Full-Stack Software Engineers - 1481`...</div>
<div class="progress-msg"><b>CREATING</b> `Full-Stack Software Engineers` `Job`</div>
<div class="progress-msg">Associate post `Full-Stack Software Engineers` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Full-Stack Software Engineers` `Job` (ID: 8608)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Web Developers`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Web Developers`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Web Developers - 1486`...</div>
<div class="progress-msg"><b>CREATING</b> `Web Developers` `Job`</div>
<div class="progress-msg">Associate post `Web Developers` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Web Developers` `Job` (ID: 8609)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 Agile Project Manager`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 Agile Project Manager`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 Agile Project Manager - 1487`...</div>
<div class="progress-msg"><b>CREATING</b> `1 Agile Project Manager` `Job`</div>
<div class="progress-msg">Associate post `1 Agile Project Manager` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 Agile Project Manager` `Job` (ID: 8610)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 Web Designer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 Web Designer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 Web Designer - 1488`...</div>
<div class="progress-msg"><b>CREATING</b> `1 Web Designer` `Job`</div>
<div class="progress-msg">Associate post `1 Web Designer` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 Web Designer` `Job` (ID: 8611)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 Thiết kế web`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 Thiết kế web`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 Thiết kế web - 1692`...</div>
<div class="progress-msg"><b>CREATING</b> `1 Thiết kế web` `Job`</div>
<div class="progress-msg">Associate post `1 Thiết kế web` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 Thiết kế web` `Job` (ID: 8612)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `1 Quản lí dự án Agile`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `1 Quản lí dự án Agile`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1 Quản lí dự án Agile - 1693`...</div>
<div class="progress-msg"><b>CREATING</b> `1 Quản lí dự án Agile` `Job`</div>
<div class="progress-msg">Associate post `1 Quản lí dự án Agile` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `1 Quản lí dự án Agile` `Job` (ID: 8613)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `5 Lập trình web`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `5 Lập trình web`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5 Lập trình web - 1696`...</div>
<div class="progress-msg"><b>CREATING</b> `5 Lập trình web` `Job`</div>
<div class="progress-msg">Associate post `5 Lập trình web` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `5 Lập trình web` `Job` (ID: 8614)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Kĩ sư phần mềm Full-Stack`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Kĩ sư phần mềm Full-Stack`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Kĩ sư phần mềm Full-Stack - 1697`...</div>
<div class="progress-msg"><b>CREATING</b> `Kĩ sư phần mềm Full-Stack` `Job`</div>
<div class="progress-msg">Associate post `Kĩ sư phần mềm Full-Stack` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Kĩ sư phần mềm Full-Stack` `Job` (ID: 8615)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4 Interns`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4 Interns`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4 Interns - 1951`...</div>
<div class="progress-msg"><b>CREATING</b> `4 Interns` `Job`</div>
<div class="progress-msg">Associate post `4 Interns` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `4 Interns` `Job` (ID: 8616)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `4 Thực tập sinh`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `4 Thực tập sinh`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4 Thực tập sinh - 1952`...</div>
<div class="progress-msg"><b>CREATING</b> `4 Thực tập sinh` `Job`</div>
<div class="progress-msg">Associate post `4 Thực tập sinh` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `4 Thực tập sinh` `Job` (ID: 8617)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Business Development`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Business Development`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Business Development - 2088`...</div>
<div class="progress-msg"><b>CREATING</b> `Business Development` `Job`</div>
<div class="progress-msg">Associate post `Business Development` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Business Development` `Job` (ID: 8618)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `French speaking Junior PHP Developer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `French speaking Junior PHP Developer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `French speaking Junior PHP Developer - 2093`...</div>
<div class="progress-msg"><b>CREATING</b> `French speaking Junior PHP Developer` `Job`</div>
<div class="progress-msg">Associate post `French speaking Junior PHP Developer` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `French speaking Junior PHP Developer` `Job` (ID: 8619)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Human Resource (People Management)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Human Resource (People Management)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Human Resource (People Management) - 2118`...</div>
<div class="progress-msg"><b>CREATING</b> `Human Resource (People Management)` `Job`</div>
<div class="progress-msg">Associate post `Human Resource (People Management)` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Human Resource (People Management)` `Job` (ID: 8620)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `English Teacher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `English Teacher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `English Teacher - 2260`...</div>
<div class="progress-msg"><b>CREATING</b> `English Teacher` `Job`</div>
<div class="progress-msg">Associate post `English Teacher` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `English Teacher` `Job` (ID: 8621)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Senior Web Developer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Senior Web Developer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Senior Web Developer - 2408`...</div>
<div class="progress-msg"><b>CREATING</b> `Senior Web Developer` `Job`</div>
<div class="progress-msg">Associate post `Senior Web Developer` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Senior Web Developer` `Job` (ID: 8622)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
